<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spam Filtering using Bayesian Network</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="d-flex align-items-center justify-content-center"
      style="min-height: 100vh;"
    >
      <div class="w-100" style="max-width: 400px;">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center mb-4">🤖 Spam-Ham Filtering</h2>
            <form action="/predict" method="POST">
              <label for="email_textarea" class="form-label">
                Enter Email Content
              </label>
              <textarea
                name="email_input"
                class="form-control"
                id="email_textarea"
                rows="3"
                required
              ></textarea>

              <br />
              <label for="email_textarea" class="form-label w-100 text-center" >
               {{result}}
              </label>
              
              <br />

              <button
                class="w-100 container my-3 btn btn-warning"
                type="submit"
              >
                Predict
              </button>
            </form>
          </div>
        </div>
        <div class="w-100 text-center mt-3">
          <p >© 2023 Steve Boby George</p>
            </div>
    </div>
  </body>
</html>
